.formContacto, .infoTour, footer .rrss, footer .piePagina .menuFooter .inicioFooter a ul, footer .piePagina .menuFooter .inicioFooter, footer {
  display: flex;
  flex-direction: column;
}

.loom, .galeriaVideos, .galeriaFotos, .seccionTour, footer .piePagina .menuFooter, footer .piePagina {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  padding-bottom: 20px;
  background-color: #f2e6f5;
}

header {
  background-image: linear-gradient(-20deg, #706575 0%, #9bc4b7 100%);
  color: #000000;
  padding: 10px;
  position: sticky;
  top: 1px;
}
header nav {
  margin-left: 40px;
}
header nav div div {
  margin-left: 30px;
}
header nav div div ul {
  list-style-type: none;
}
header nav div div ul li a {
  font-family: "Century Gothic", sans-serif;
  text-decoration: none;
  margin-left: 20%;
  margin-right: 20px;
}

header nav div div ul li a:hover {
  text-decoration: underline;
}

.container-fluid {
  --bs-gutter-x: none;
}

.sinBorde {
  --bs-gutter-x: 0px;
}

.imgLogo {
  width: 120px;
}

.infoMenu {
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  justify-content: center;
  background-image: linear-gradient(20deg, #706575 0%, #9bc4b7 100%);
}
footer .piePagina {
  justify-content: space-evenly;
  margin-top: 40px;
  color: #000000;
}
footer .piePagina .suscripcion {
  width: 40%;
}
footer .piePagina .suscripcion label {
  margin: 10px 0px;
  width: 250px;
}
footer .piePagina .suscripcion input {
  width: 300px;
}
footer .piePagina .menuFooter {
  justify-content: center;
}
footer .piePagina .menuFooter .inicioFooter {
  justify-content: left;
}
footer .piePagina .menuFooter .inicioFooter a {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
}
footer .piePagina .menuFooter .inicioFooter a ul {
  justify-content: center;
  align-items: left;
}
footer .piePagina .menuFooter .inicioFooter a ul li a {
  text-align: left;
  text-decoration: none;
}
footer .rrss {
  margin: 20px 0px;
  justify-content: center;
}
footer .rrss div img {
  width: 25px;
  margin: 20px;
  margin-bottom: 0px;
}

.botonSuscr {
  margin-top: 15px;
  background-color: #f2e6f5;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Century Gothic", sans-serif;
  width: 110px;
  height: 30px;
}

h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.5rem;
  margin-top: 25px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}

@media (max-width: 768px) {
  .noMobile {
    display: none;
  }
}
.imgPortada {
  width: 100%;
  height: 100%;
}

.textoPortada {
  margin-top: 30px;
}

.discografia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 130px;
  margin-right: 130px;
}

.cardMusica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 2px solid rgba(206, 181, 194, 0.8549019608);
  width: 266px;
  height: 480px;
}
.cardMusica .disco {
  width: 257px;
  height: 257px;
}

@media (max-width: 768px) {
  .discografia {
    margin-left: 4rem;
  }
}
.infoTour {
  align-items: center;
}

.recuadroTour {
  width: 80%;
  height: 100px;
  border: 2px solid #9bc4b7;
  border-radius: 10px;
  background-color: white;
  margin: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.seccionTour {
  justify-content: space-around;
  font-family: "Century Gothic", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
}
.seccionTour .fecha {
  font-weight: bold;
}
.seccionTour .ticket {
  background-color: #76b39c;
  border: #76b39c;
  color: #000000;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Century Gothic", sans-serif;
  margin-right: 30px;
  width: 100px;
  height: 40px;
}

.ticket:hover {
  background-color: rgba(206, 181, 194, 0.8549019608);
}

@media (max-width: 768px) {
  .seccionTour {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  .seccionTour .fecha {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .seccionTour .ticket {
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .recuadroTour {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 95%;
    height: 140px;
    padding-top: 15px;
  }
  .recuadroTour ul {
    padding: 0px;
    margin: 0px;
  }
}
.galeriaFotos {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.galeriaFotos img {
  width: 30%;
  height: 30%;
  margin: 15px;
  margin-bottom: 20px;
  transition: all 500ms;
}

.galeriaFotos img:hover {
  width: 31%;
  height: 31%;
}

.galeriaVideos {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.galeriaVideos iframe {
  display: inline;
  margin: 10px;
}

@media (max-width: 768px) {
  .galeriaFotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .galeriaFotos img {
    width: 80%;
    height: 80%;
    transition: all 500ms;
  }
}
@media (max-width: 768px) {
  .galeriaFotos img:hover {
    width: 81%;
    height: 81%;
  }
}
.textoHistoria {
  width: 45%;
  margin-top: 20px;
}

.imgHistoria1 {
  width: 45%;
  height: 45%;
  margin-top: 30px;
  margin-left: 50px;
}

.imgHistoria2 {
  width: 45%;
  height: 45%;
  margin-top: 30px;
  margin-right: 50px;
}

.tituloHistoria {
  margin-bottom: 10px;
}

.loom {
  justify-content: center;
}
.loom .textoLoom {
  align-items: center;
  width: 60%;
  background-color: rgba(206, 181, 194, 0.8549019608);
  padding: 30px;
  border-radius: 10px;
  border-style: double;
}
.loom .textoLoom span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .contHistoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .textoHistoria {
    width: 90%;
  }
  .imgHistoria1 {
    width: 80%;
    height: 80%;
    margin: 0px;
  }
  .imgHistoria2 {
    width: 80%;
    height: 80%;
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .loom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .textoLoom {
    width: 300px;
    padding: 0px;
    text-align: left;
    margin: 0px;
  }
}
.textoContacto {
  margin-top: 20px;
}

.formContacto {
  font-family: "Roboto", sans-serif;
  justify-content: justify;
  align-items: center;
}
.formContacto .nombre {
  margin-bottom: 20px;
}
.formContacto .form-label {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.formContacto .email {
  margin-bottom: 20px;
}
.formContacto input {
  width: 600px;
}
.formContacto .subtexto {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
.formContacto .form-control {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.formContacto .mensaje {
  margin-bottom: 20px;
}
.formContacto textarea {
  width: 600px;
}
.formContacto .botonForm {
  background-color: #76b39c;
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Century Gothic", sans-serif;
  width: 120px;
  height: 40px;
}

@media (max-width: 768px) {
  .formContacto input {
    width: 250px;
  }
  .formContacto textarea {
    width: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
