.infoTour, footer .rrss, footer .piePagina .menuFooter .inicioFooter a ul, footer .piePagina .menuFooter .inicioFooter, footer {
  display: flex;
  flex-direction: column;
}

.loom, .galeriaVideos, .galeriaFotos, .seccionTour, footer .piePagina .menuFooter, footer .piePagina {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  padding-bottom: 20px;
  background-color: #f2e6f5;
}

header {
  background-image: linear-gradient(-20deg, #706575 0%, #9bc4b7 100%);
  color: #000000;
  padding: 10px;
  position: sticky;
  top: 1px;
}
header nav {
  margin-left: 40px;
}
header nav div div {
  margin-left: 30px;
}
header nav div div ul {
  list-style-type: none;
}
header nav div div ul li a {
  font-family: "Century Gothic", sans-serif;
  text-decoration: none;
  margin-left: 20%;
  margin-right: 20px;
}

header nav div div ul li a:hover {
  text-decoration: underline;
}

.container-fluid {
  --bs-gutter-x: none;
}

.imgLogo {
  width: 120px;
}

.infoMenu {
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  justify-content: center;
  background-image: linear-gradient(20deg, #706575 0%, #9bc4b7 100%);
}
footer .piePagina {
  justify-content: space-evenly;
  margin-top: 40px;
  color: #000000;
}
footer .piePagina .suscripcion {
  width: 40%;
}
footer .piePagina .suscripcion label {
  margin: 10px 0px;
}
footer .piePagina .suscripcion input {
  width: 300px;
}
footer .piePagina .menuFooter {
  justify-content: center;
}
footer .piePagina .menuFooter .inicioFooter {
  justify-content: left;
}
footer .piePagina .menuFooter .inicioFooter a {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
}
footer .piePagina .menuFooter .inicioFooter a ul {
  justify-content: center;
  align-items: left;
}
footer .piePagina .menuFooter .inicioFooter a ul li a {
  text-align: left;
  text-decoration: none;
}
footer .rrss {
  margin: 20px 0px;
  justify-content: center;
}
footer .rrss div img {
  width: 25px;
  margin: 20px;
  margin-bottom: 0px;
}

.botonSuscr {
  margin-top: 15px;
  background-color: #f2e6f5;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "Century Gothic", sans-serif;
  width: 110px;
  height: 30px;
}

h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.5rem;
  margin-top: 25px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}

.imgPortada {
  width: 100%;
  height: 100%;
}

.textoPortada {
  margin-top: 30px;
}

.widthCard {
  width: 30rem;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 45px;
  margin-left: 45px;
}

.infoTour {
  align-items: center;
}

.recuadroTour {
  width: 80%;
  height: 100px;
  border: 2px solid #9bc4b7;
  border-radius: 10px;
  background-color: white;
  margin: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.seccionTour {
  justify-content: space-around;
  font-family: "Century Gothic", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
}
.seccionTour .fecha {
  font-weight: bold;
}
.seccionTour .ticket {
  background-color: #76b39c;
  border: #76b39c;
  color: #000000;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Century Gothic", sans-serif;
  margin-right: 30px;
  width: 100px;
  height: 40px;
}

.ticket:hover {
  background-color: rgba(206, 181, 194, 0.8549019608);
}

.galeriaFotos {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.galeriaFotos img {
  width: 30%;
  height: 30%;
  margin: 15px;
  margin-bottom: 20px;
  transition: all 500ms;
}

.galeriaFotos img:hover {
  width: 31%;
  height: 31%;
}

.galeriaVideos {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.galeriaVideos iframe {
  display: inline;
  margin: 10px;
}

.textoHistoria {
  width: 45%;
  margin-top: 20px;
}

.imgHistoria1 {
  width: 45%;
  height: 45%;
  margin-top: 30px;
  margin-left: 50px;
}

.imgHistoria2 {
  width: 45%;
  height: 45%;
  margin-top: 30px;
  margin-right: 50px;
}

.tituloHistoria {
  margin-bottom: 10px;
}

.loom {
  justify-content: center;
}
.loom .textoLoom {
  align-items: center;
  width: 60%;
  background-color: rgba(206, 181, 194, 0.8549019608);
  padding: 30px;
  border-radius: 10px;
  border-style: double;
}
.loom .textoLoom span {
  font-weight: bold;
}

.textoContacto {
  margin-top: 20px;
}

form {
  font-family: "Roboto", sans-serif;
}
form .form-label {
  font-size: 1.5rem;
}
form .subtexto {
  font-size: 1.1rem;
}
form .form-control {
  font-size: 12px;
}
form .botonForm {
  background-color: #76b39c;
  color: black;
  font-weight: bold;
  font-size: 1.7rem;
  font-family: "Century Gothic", sans-serif;
  width: 120px;
  height: 40px;
}

/*# sourceMappingURL=styles.css.map */
