@import "variables";
@import "general";
@import "layout/index.scss";
@import "layout/musica.scss";
@import "layout/galeria.scss";
@import "layout/historia.scss";
@import "layout/contacto.scss";




h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}








